<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>

        <!-- <link rel="shortcut icon" type="image/x-icon" href="image/logo-name-img/logo.png" /> -->
        <link rel="stylesheet" type="text/css" href="/public/css/Css_Reset.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style_common.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style_about.css">

        <!-- fonts used -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

        <!-- search icon -->
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
              integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

        <script src="/public/js/client/jquery-3.3.1.min.js"></script>
        <!-- show and hide password-->
        <script src="/public/js/client/validation.js"></script>


    </head>

    <body>
        <div id="wrapper">
            <header>
                <section id="header">
                    <i class="fas fa-search fa-sm"></i>
                    <form autocomplete="off" action="search.php" id="search" class="alignleft">
                        <div class="autocomplete" style="width:300px;">
                            <input id="myInput" type="text" name="valueToSearch" placeholder="Search" size="40"
                                   maxlength="128" class="submit_on_enter">
                        </div>

                        <input type="submit" name="search" value="Search"
                               style="position: absolute; height: 0px; width: 0px; border: none; padding: 0px;"
                               hidefocus="true" tabindex="-1">

                        <br><br>
                    </form>
                </section>

                <!-- <div class="logo_name" onclick="window.location.href='index.ejs'"></div> -->
                <div class="logo_name" onclick="window.location.href='/'"> LITTLE BAKERY</div>

            </header>

            <nav class="navbar">
                <ul>
                    <li class="item"><a href="#" class="nav-link ">Menu</a></li>
                    <li class="item"><a href="#" class="nav-link">Catering</a></li>
                    <li class="item"><a href="#" class="nav-link">About</a></li>
                    <li class="item"><a href="#" class="nav-link">Contact</a></li>
                    <li class="item cart">
                        <a href="#" class="nav-link">Cart
                            <span class="cartcount">0</span>
                            <span class="cartamount">SGD $0.00</span>
                        </a>
                        <!-- need to get item count and amount from db cart eventually -->

                    </li>
                    <li class="item active"><a href="/login" class="nav-link">Login/Register</a></li>
                    <!-- <li class="item" id="search"><a href="search.php" class="nav-link">Search</a></li> -->
                </ul>
                <hr id="divider">
            </nav>



            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Register</li>
            </ul>

            <section class="about-container" >
                <p>At Little Bakery, we ensure every product of ours are always fresh at all times.
                </p>
                <br>
    
    <img src="/public/images/banners/cupcakey.jpg"> 
              
    <p><span>Little bakery</span> founded at year 1998 by JCH and it is one of only a handful few enduring Craft Bakeries in Singapore. 
                </p>
                
                    We offer our clients a full scope of pie, macarons, cookies, cakes and baked goods. 

Our cake is handmade day by day at our bakery shop <p>
                <p> Our motto is to: </p>
                <br>
                <h1>"Only providing the freshest"</h1> 
                <br>
                <p>We swear by our motto to always give our customer the best.
                </p>



              
            </section>


        </div>

  

    </body>

</html>