<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact Us</title>

        <!-- <link rel="shortcut icon" type="image/x-icon" href="image/logo-name-img/logo.png" /> -->
        <link rel="stylesheet" type="text/css" href="/public/css/Css_Reset.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style_common.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style_contact.css">

        <!-- fonts used -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

        <!-- search icon -->
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
              integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

        <script src="/public/js/client/jquery-3.3.1.min.js"></script>
      


    </head>

    <body>
        <div id="wrapper">
            <header>
                <header>
                    <section id="header">
        
                        <section id="search">
                            <i class="fas fa-search fa-sm"></i>
                            <form autocomplete="off" action="#" id="search" class="alignleft">
                                <div class="autocomplete" style="width:300px;">
                                    <input id="myInput" type="text" name="valueToSearch" placeholder="Search" size="40"
                                        maxlength="128" class="submit_on_enter">
                                </div>
        
                                <input type="submit" name="search" value="Search"
                                    style="position: absolute; height: 0px; width: 0px; border: none; padding: 0px;"
                                    hidefocus="true" tabindex="-1">
        
                                <br><br>
                            </form>
                        </section>
        
                        <section id="links">
        
                            <%
        
                
                            let userId = locals.session.userId;
                    
                            // Check if user is logged in or not.
                            if (userId) { // is logged in
                    
                            %>
        
        
                            <div class="acc-btn" onclick="window.location.href='/profile'" style="cursor:pointer;"><i
                                    class="fas fa-user "></i><a href="/profile" class="login"> My Account</a></div>
        
                                    <form method="POST" action="/logout">
    
                            <div class="logout-btn" style="cursor:pointer;"><i
                                    class="fas fa-sign-out-alt"></i><!--<a href="/logout" class="login"> Logout</a>-->
                                
                                        <button type="submit"  name="delete" class="logout">Logout</button>                                
                                
                                </div>
                            </form>
    
        
                            <div id="cart" class="login-btn" onclick="window.location.href='/cart'">
                                <i class="fas fa-shopping-cart ">
                                </i>
                                <span class="cartcount">0</span>
                                <span class="cartamount">SGD $0.00</span>
        
        
                            </div>
        
        
                            <%
        
                        }else{ // not logged in
                
                %>
        
        
                            <div class="login-btn" onclick="window.location.href='/login'" style="cursor:pointer;"><i
                                    class="fas fa-lock "></i><a href="/login" class="login"> Login / Register</a></div>
        
        
                            <div id="cart" class="login-btn" onclick="window.location.href='/cart'">
                                <i class="fas fa-shopping-cart ">
                                </i>
                                <span class="cartcount">0</span>
                                <span class="cartamount">SGD $0.00</span>
        
        
                            </div>
        
                            <%
                        }   
                    %>
        
                        </section>
        
                    </section>
        
                    <!-- <div class="logo_name" onclick="window.location.href='index.ejs'"></div> -->
                    <div class="logo_name" onclick="window.location.href='/'"> LITTLE BAKERY</div>
        
                </header>

            <nav class="navbar">
                <ul>
                    <li class="item"><a href="#" class="nav-link ">Menu</a></li>
                    <li class="item"><a href="#" class="nav-link">Catering</a></li>
                    <li class="item"><a href="#" class="nav-link">About</a></li>
                    <li class="item active"><a href="#" class="nav-link">Contact</a></li>
                    <li class="item cart">
                        <a href="#" class="nav-link">Cart
                            <span class="cartcount">0</span>
                            <span class="cartamount">SGD $0.00</span>
                        </a>
                        <!-- need to get item count and amount from db cart eventually -->

                    </li>
                    <li class="item "><a href="/login" class="nav-link">Login/Register</a></li>
                    <!-- <li class="item" id="search"><a href="search.php" class="nav-link">Search</a></li> -->
                </ul>
                <hr id="divider">
            </nav>

            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Contact</li>
            </ul>
            
             <div id="msg_container">
                <p>Do you have anything in your mind to let us know? Kindly don't delay to connect to us by means of our contact form.</p>
            </div>

            <!-- this is flex container parent -->
            <section class="contact-container" id="contactus-container"> 
                <!-- this is flex child 1 -->
                <div class="row">
                     <div class="contact">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6611865763484!2d103.84676001475407!3d1.3799499989935695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16eb64b0249d%3A0xe5f10ff680eed942!2sNanyang%20Polytechnic!5e0!3m2!1sen!2ssg!4v1578137556003!5m2!1sen!2ssg" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
        
                <!-- this is flex child 2 -->
                <div class="contact">
                    <form action="/contact" method="POST" name="contact" id="contactForm">

                    <span class="success"></span>

                    <label>Full Name:</label><input type="text" name="name" required ><br><br>


                    <label>Email Address:</label><input type="email" name="email" size="50" required><br><br>

                    <label>Mobile Number:</label><input type="tel" name="mobileNo" oninvalid="this.setCustomValidity('Enter Mobile Number with 8 digits only(Starting 8 or 9)')" oninput="this.setCustomValidity('')" pattern = "^[8||9]{1}[0-9]{7}$" required /><br />

                    <label>Message :</label><textarea name="message" cols="10" rows="3" required></textarea><br />

                    <label></label><input type="submit" name="submit" value="Submit">


              </form>
            </div>
          </section>


        </div>

        <!-- <script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
close[i].onclick = function(){
var div = this.parentElement;
div.style.opacity = "0";
setTimeout(function(){ div.style.display = "none"; }, 600);
}
}
</script> -->

    </body>

</html>