<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header>
        <h1>Little Bakery</h1>

        <nav>
            <ul>
                <!-- The top-level route defined in route.js + The sub-route defined in other file = The complete route to put inside 'href'. -->
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/category">Categories</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>