<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome! You have logged in.</h1>
    <!-- The top-level route defined in route.js + The sub-route defined in other file = The complete route to put inside 'href'. -->
    <a href="/user/test">Test page</a>
</body>
</html>