
.profile-container{
    width: 50%; 
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    line-height: 20px; 
    color: rgba(0, 0, 0, 1);
    padding: 30px;
}

.profile-container table{
    width: 100%;
}

.profile-container td, th {
  text-align: left;
  padding: 8px;
}

.profile-container input
{/* text area for address */
    background-color: #fcf7f3;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 5px;    
    border: 1px solid #f6e3e1;
    /* display: inline-block; */
    font-family: inherit;
    width: 50%;
    box-sizing:border-box;
}

.profile-container input[name="submit"]{
    cursor: pointer;
    background-color: #edc2bd;
    color: black;
    margin: 5px 0;

}

.profile-container input[name="submit"]:hover{
    background-color: transparent;
    border: 2px solid #edc2bd;
}


.profile-container input:focus
{
    outline-color: transparent;
    outline-style: none;
}

.profile-container input:hover
{
    border: 1px solid #edc2bd ;

}

.profile-container input[type=submit]:hover
{
    background-color: #edc2bd;
    color: black;

}

p{
    width: 90%; 
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    line-height: 20px; 
    color: rgba(0, 0, 0, 1);
    padding: 30px;
}




#saveBTN{
    padding: 12px 20px;
    margin: 10px;
    border-radius: 5px;    
    border: 1px solid #f6e3e1;
    /* display: inline-block; */
    font-family: inherit;
    width: 45%;
    box-sizing:border-box;
    background-color: #edc2bd;
    color: black;
    cursor: pointer;


}

#saveBTN:hover{
    border: 1px solid #edc2bd ;
}


